<header
  class="bg-[#1E6091] text-white py-4 px-6 shadow flex justify-between items-center"
>
  <div class="flex items-center gap-4">
    <!-- Botón hamburguesa móvil -->
    <button
      class="md:hidden focus:outline-none text-white text-2xl"
      (click)="toggleSidebar()"
    >
      <i class="fas fa-bars"></i>
    </button>
    <h2 class="text-xl font-bold">Panel del Administrador</h2>
  </div>

  <!-- Dropdown -->
  <div class="relative" (click)="toggleMenu()" tabindex="0">
    <button class="focus:outline-none">
      <i class="fas fa-sign-out-alt text-white text-xl"></i>
    </button>

    <div
      *ngIf="menuOpen"
      class="absolute right-0 mt-2 w-64 bg-white text-gray-800 rounded-md shadow-lg z-50 text-sm"
    >
      <div
        class="px-4 py-2 border-b border-gray-200 text-gray-500 font-medium text-xs uppercase"
      >
        Opciones
      </div>
      <button
        class="w-full flex items-center px-4 py-2 hover:bg-gray-100 text-left"
        (click)="logout()"
      >
        <i class="fas fa-sign-out-alt text-gray-600 mr-2 text-sm"></i>
        Cerrar Sesión
      </button>
    </div>
  </div>
</header>
